@import url("https://use.fontawesome.com/releases/v6.0.0/css/all.css");
body{
    margin: 0;
    padding: 0;
}
.viewport{
    height: 100vh;
    position: relative;
}
.blue{
    background: rgb(25,93,157);
    background: linear-gradient(90deg, rgba(25,93,157,1) 0%, rgba(45,147,159,1) 50%, rgba(65,203,161,1) 100%);
}
.orange{
    background: rgb(169,51,118);
    background: linear-gradient(90deg, rgba(169,51,118,1) 0%, rgba(188,90,70,1) 50%, rgba(210,129,20,1) 100%);
}
.card{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
img{
    box-shadow: 0px 0px 8px 1px #2d2d2d;
    border-radius: 6px;
}
.card-icon{
    position: relative;
    right: 36px;
    bottom: 14px;
    color: white;
    font-size: 22px;
}